* {
     box-sizing: border-box;
}

body {
     margin: 0 auto;
     text-align: center;
     padding-bottom: 60px;
     /* background-image: url("../images/desktop_background.jpg"); */
}

#header {
     margin: 10px 0px 40px 0px;
}

h1 {
     font-family: "Luckiest Guy", cursive;
     font-size: 3.5rem;
}

h3 {
     /* font-family: 'Rock Salt', cursive; */
     font-family: "Bungee Inline", cursive;
     font-size: 100%;
}

#buttons {
     margin-top: 20px;
     font-family: "Lalezar", cursive;
}

#timer {
     font-family: "Boogaloo", cursive;
     color: red;
}

#trivia-space {
     text-align: left;
}

h4 {
     font-family: "Bungee Inline", cursive;
     font-size: 80%;
     margin-top: 20px;
}

input {
     margin-left: 35px;
}

p {
     margin: 0;
}

#stats {
     color: grey;
     background-color: white;
     font-family: "Boogaloo", cursive;
     padding: 15px 0 10px 0;
}

#footer {
     color: white;
     background-color: grey;
     padding: 10px;
     font-family: "Rock Salt", cursive;
     font-size: 50%;
     bottom: 0;
     width: 100%;
     text-align: center;
     margin-top: 20px;
     opacity: 50%;
}